html{
    scroll-behavior: smooth;
}
body{
    padding:0;
    margin:0;
    background:#fff;
    position:relative;
    font-family: 'Lato', sans-serif;

}
a{
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
input[type="button"],
input[type="submit"],.contact-form input[type="submit"]{
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
    color: #323648;
}
p {
    margin: 0;
    line-height: 2;
    color: #707579;
    letter-spacing: .5px;
    font-size: 16px;
}
ul,ol{
    margin:0;
    padding:0;
}
label{
    margin:0;
}
.clearFix::before,
.clearFix::after{
    content:"";
    display:block;
    visibility:hidden;
    height:0;
    line-height:0;
    clear:both;

}